{% extends "main.html" %}
{% load static %}
{% block title %}
Affichage
{% endblock %}
{% block subtitle %}
Appareil ajouté
{% endblock %}
{% block content %}
<p> vous avez ajouté l'avion suivant : appareil n°{{avion.id}} ({{avion.comp}}) </p>
<p>Personnel dans cet appareil :</p>

    {% if not list %}
            <p>
                Pas encore de personnel
            </p>
    {% else %}
<ol>
        {% for l in liste %}
            <li>
                {{l.prenom}} {{l.nom}}, {{l.metier}}
            </li>
        {% endfor %}
    {% endif %}
</ol>
<p><a href="/aeroport/ajoutperso/{{avion.id}}/">Ajouter du personnel</a> </p>
<p><a href="/aeroport/ajout/">Ajouter un autre avion</a></p>
<p><a href="/aeroport/index/">Retour au menu principal</a></p>
{% endblock %}