{% extends "main.html" %}
{% load static %}
{% block title %}
Affichage
{% endblock %}
{% block subtitle %}
Appareil ajouté
{% endblock %}
{% block content %}
<p> vous avez ajouté l'avion suivant : appareil n°{{avion.id}} ({{avion.comp}}) </p>
<ol>
    Personnel dans cet appareil :
    {% for l in liste %}
        <li>
            {{l.prenom}} {{l.nom}}, {{l.metier}}
            <a href="/aeroport/afficheperso/{{l.id}}/"> Afficher</a> -
            <a href="/aeroport/updateperso/{{l.id}}/"> Mettre à jour</a> -
            <a href="/aeroport/deleteperso/{{l.id}}/"> Supprimer</a>
        </li>
    {% endfor %}
</ol>
<p><a href="/aeroport/ajoutperso/{{avion.id}}/">Ajouter du personnel</a> </p>
<p><a href="/aeroport/ajout/">Ajouter un autre avion</a></p>
<p><a href="/aeroport/index/">Retour au menu principal</a></p>
{% endblock %}