<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste du personnel de l'avion </title>
</head>
<body>
<p><a href="/aeroport/index.html">Revenir à la liste des avions</a></p>
<p><a href="../ajoutperso/">Ajouter un membre du personnel</a></p>
<ul>
    {% for l in liste %}
    <li>{{l.prenom}} {{l.nom}}, {{l.metier}} (travaille dans le {{l.avion.modele}} de {{l.avion.comp}})
    <a href="/aeroport/afficheperso/{{l.id}}/"> Afficher</a> -
    <a href="/aeroport/updateperso/{{l.id}}/"> Mettre à jour</a> -
    <a href="/aeroport/deleteperso/{{l.id}}/"> Supprimer</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>