{% extends "main.html" %}
{% load static %}
{% block title %}
Update (personnel)
{% endblock %}
{% block subtitle %}
Mise à jour d'une entrée
{% endblock %}
{% block content %}
<form method="post" action="/aeroport/updatetraitementperso/{{id}}/">
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="envoyer les données"/>
</form>
<p><a href="/aeroport/indexperso/{{personnel.avion_id}}/">Retour au menu du personnel</a></p>
<p><a href="/aeroport/index/">Retour au menu principal</a></p>
{% endblock %}
